.body {
 background-image: url('img/backgroundhome.webp');
 background-repeat: no-repeat;
 background-size: cover;
  }
  
  .thebird{
    opacity: .7;
  }
.thebirds{
  opacity: .7;
}
.body2{
  background-image: url("img/aboutback2.webp");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 10;
  color: rgb(251, 251, 251);
  
}
.carousel2{
  text-align: center;
  
}